html {
  // height: 100%;
  padding-top: 110px;
}

body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #fe9d35 0%,
    #1a1a1a 25%,
    #1a1a1a 51%,
    #713825 100%
  );
  background-color: rgb(0, 0, 0);
  -webkit-animation: AnimateBG 10s ease infinite;
  animation: AnimateBG 15s ease infinite;
  font-family: 'Hanken Grotesk', sans-serif;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  height: 100%;
}
