.body {
  padding: 0;
}
#root {
  background-color: rgb(237, 245, 245);
}

.homePage {
  margin: 25px 150px 75px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SvelteDevTool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.downloadButton {
  text-decoration: none;
}
.instructions {
  display: flex;
  justify-content: flex-start;
  align-items: space-around;
}
.mvps {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.contributors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contributorBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contributorPicture {
  border-radius: 50%;
}
