.body {
  padding: 0;
  margin: 0px;
}
#root {
  background-color: rgb(254, 232, 176);
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.homePage {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SvelteDevTool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.downloadButton {
  text-decoration: none;
}
.instructions {
  display: flex;
  justify-content: flex-start;
  align-items: space-around;
}
.mvps {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.contributors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contributorBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contributorPicture {
  border-radius: 50%;
}

.nav {
  display: flex;
  justify-content: end;
}
