body {
  font-family: 'Hanken Grotesk', sans-serif;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 2rem;
  color: white;
}

p {
  font-size: 1rem;
  color: white;
}

input,
.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 50px;
  box-shadow: 2px 2px 2px #cccccc6c;
  border-radius: 50px;
  padding: 0;
  border: none;
  outline: none;
}

.loginButton {
  width: 304px;
  height: 42px;
  background-color: black;
  color: white;
  box-shadow: none;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #cccccc6c;
  text-decoration: none;
}

.loginButton:hover {
  background-color: #ff5100;
  box-shadow: none;
}

.oauthBox img {
  width: 30px;
  height: 30px;
}

button {
  background: none;
  border: none;
}
