#login-container {
  margin: 1rem;
  margin-left: 0;
}

.oauth-button {
  width: 4rem;
  height: 3rem;
  background-color: white;
  border-width: 1.5px;
  border-radius: 4px;
  border-color: #111111;
  margin: 0 1rem 0 1rem;
  cursor: pointer;
}

.oauth-button img {
  width: 1.75rem;
  height: 1.75rem;
}

.oauth-button:hover {
  transition: 300ms;
  background-color: rgb(231, 231, 231);
}

.oauth-button:active {
  transition: 100ms;
  background-color: rgb(82, 82, 82);
}