#tree-error-message {
  color: red;
  text-align: center;
  margin-top: 0.5rem;
}

.leaf-node {
  cursor: default;
}

.node-text {
  font-size: 12;
  fill: white;
  stroke: none;
  stroke-width: 1;


  /* fill="white" */
  /* stroke="none" */
  /* strokeWidth="1" */
  /* fontSize="12" */
}

.tree-node-circle:hover {
  -webkit-filter: drop-shadow( 0px 0px 6px rgba(0, 0, 0, .7));
  filter: drop-shadow( 0px 0px 6px rgba(0, 0, 0, .7));
}