html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  --main-bg-color: #444e62;
  background-color: var(--main-bg-color);
}

.container {
  color: #eeeeee;
}

.pane {
  min-width: 10rem;
  height: 100%;
  overflow: hidden;
  background-color: var(--main-bg-color);
  font-family: 'Source Sans Pro', sans-serif;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.nav {
  display: flex;

  color: white;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  color: inherit;
  border-radius: 10px;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0.25rem;
}

.nav li {
  color: rgb(28, 195, 221);
}

.nav li.active {
  color: rgb(114, 137, 218);
}
.nav li.hover {
  color: rgb(114, 137, 218);
}

#treeWrapper,
.container,
#content,
.split {
  height: 93vh;
}

.container {
  height: 100%;
}

.step-page-gap {
  height: 2rem;
}

header {
  height: 3.25rem;
  border-bottom: #eeeeee solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
