element {
}

body {
  --main-bg-color: rgb(28, 25, 32);
  background-color: var(--main-bg-color);
}

.container {
  color: #ffffff;
}

.pane {
  min-width: 10rem;
  height: 100%;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}