element {
}

body {
  --main-bg-color: rgb(28, 25, 32);
  background-color: var(--main-bg-color);
}

.container {
  color: #ffffff;
}

.pane {
  min-width: 10rem;
  height: 100%;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}



.nav {
  display: flex;

  color: white;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  color: inherit;
  border-radius: 10px;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0.25rem;
}

.nav li.active {
  color: rgb(114, 137, 218);
}
.nav li.hover {
  color: rgb(114, 137, 218);
}
