element {
}

body {
  --main-bg-color: rgb(28, 25, 32);
  background-color: var(--main-bg-color);
}

.container {
  color: #ffffff;
}

.pane {
  min-width: 10rem;
  height: 100%;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.Resizer {
  background: #b2b2b2;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.nav {
  display: flex;

  color: white;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  color: inherit;
  border-radius: 10px;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0.25rem;
}

.nav li.active {
  color: rgb(114, 137, 218);
}
.nav li.hover {
  color: rgb(114, 137, 218);
}
