:root {
  /* --color: #eeeeee; */
  /* --color: gold; */
  /* --color: rgb(1, 184, 212); */
  --color: rgb(28, 195, 221);
}

.pane h2 {
  text-align: center;
  color: var(--color);
  margin: 0;
}

.pane h3 {
  color: var(--color);
  font-weight: 600;
  padding-left: 0.7rem;
}

.component-info-ul {
  list-style: none;
  padding-left: 1.5rem;
}

.pane li {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.pane li p {
  padding: 0;
  margin: 0;
}

.property-item {
  display: flex;
}
.property-name {
  /* color: #eeeeee; */
  color: #c6c6c6;
  font-family: Menlo, monospace;
}

.constant-property {
  font-family: Menlo, monospace;
  /* margin-left: 0.5rem; */
}

.state-value {
  display: flex;
  margin-bottom: 0.5rem;
}

.pane .component-header {
  color: #eeeeee;
  border: none;
}
