.nav {
  /* background-color: #2a2f3a; */
  max-height: 45px;
  font-size: 20px;
  color: #eeeeee;
  display: flex;
  justify-content: space-around;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200px;
  padding-top: 5px;
}

.nav a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.tree:hover,
.step:hover {
  border-top: 2px solid rgb(0, 94, 108);
  color: #c2c2c2;
}
