#rewinder {
  width: 100%;
  background-color: #eeeeee;
  border: 0.5px solid #f7f7f7b5;
  box-shadow: 0px 0px 5px #c3c3c3;
  position: absolute;
  bottom: 0px;
  display: flex;
  border-radius: 8px;
}

#slider-container {
  width: 100%;
  height: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

#back-button,
#forward-button {
  border: 0.5px solid #676767a7;
  width: 3rem;
  cursor: pointer;
  color: #1976d2;
}

#back-button:hover,
#forward-button:hover {
  background-color: #1976d2;
  color: #eeeeee;
  opacity: 1;
}
